<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Imperio-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Imperio-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A14E0B1E1E1F9ECC00DFC788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14E0B271E1F9ECC00DFC788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14E0B3D1E1F9EDD00DFC788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14E0B451E1F9EDE00DFC788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14E0B591E1F9EEA00DFC788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14E0B611E1F9EEA00DFC788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
